<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>history</title>
    </head>
    <body>
        <header>
            <button> X </button>
            <h2>함께한 투두</h2>
        </header>
        <main>
            <div class="friend-list-container">
                <img src=""/>
                <div class="friend-description">
                    <span>{{ friend.name }}</span>
                    <p>{{sent.todo.content}}</p>
                </div>
                <span>{{ sent.date }}</span>
            </div>
        </main>
    </body>
</html>