
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* { 
font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    z-index: 1;
}

#friends-container {
    height: 109px;
    width: 100%;
    margin-bottom: 32.26px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#friends-container-title {
    height: 21px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.container-title {
    height: 21px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;

}

#friend-list {
    height: 72px;
    width: fit-content;
    display: flex;
    flex-direction: row;
}

#each-friend-example {
    height: 72px;
    width: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    margin-right: 10px;
}
#friend-name {
    font-size: 14px;
    font-weight: 500;
    color: #666666;
    text-align: center;
    letter-spacing: -0.165px;
    line-height: 17px;
}

#friend-img-example {
    height: 48px;
    width: 48px;
    border-radius: 100%;
    background-color: #F4F4F4;
}

#my-info-container {
    height: fit-content;
    width: fit-content;
    margin-inline: 20px;
}

#new-info {
    height: 48px;
    width: 133px;
    margin-top: 16px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #F5F5F5;
    border-radius: 12px;
}
#new-info-inner{
    margin: 8px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#new-info-inner span {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #626262;
}

#personas-container {
    height: 128px;
    width: 100%;
    margin: 24px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#persona-list {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
}
.each-persona-container {
    height: fit-content;
    width: fit-content;
    margin-bottom: 28px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.each-persona {
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* #each-persona-example {
    height: 91px;
    width: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    margin-right: 10px;
} */
#persona-name {
    font-size: 14px;
    font-weight: 500;
    color: #666666;
    text-align: center;
    letter-spacing: -0.165px;
    line-height: 17px;
}

#persona-img-example {
    height: 32px;
    width: 32px;
    border-radius: 100%;
    background-color: #F4F4F4;
}

#add-persona-button {
    height: 64px;
    width: 64px;
    border-radius: 100%;
    background-color: #F4F4F4;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#categories-container {
    height: 113px;
    width: 100%;
    margin-top: 24px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.category-list {
    height: 35px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.each-category {
    height: 35px;
    width: fit-content;
    margin-right: 6px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #EAEAEA;
    color: #515151;
    border-radius: 10px;

    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

#add-category-button {
    cursor: pointer;
}

.category-name {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: #515151;
}

.mypage-modal {
    height: 840px;
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
}

.mypage-modal.hide {
    display: none;
}

#add-persona-modal {
    z-index: 2;
}

#inner-add-persona-modal {
    height: 398px;
    width: 500px;
    background-color: #FFFFFF;
    border-radius: 28px 28px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#new-persona-imoji-div {
    height: 154px;
    width: 154px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 8px;
}
#new-persona-imoji {
    height: 130px;
    width: 130px;
    background-color: rgba(40, 40, 40, 0.2);
    border-radius: 100%;
}
#new-persona-name {
    height:106px;
    width: 436px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#new-persona-name span {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #919191;
    margin-left: 4px;
}
.name-input-field {
    height: 72px;
    width: 100%;
    background-color: #F3F3F3;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.name-input-reset-button {
    cursor: pointer;
}
.name-input-reset-button.hide {
    display: none;
}
#edit-persona-modal {
    z-index: 3;
}

#inner-edit-persona-modal {
    height: 449px;
    width: 500px;
    background-color: #FFFFFF;
    border-radius: 28px 28px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#edit-persona-imoji-div {
    height: 151px;
    width: 151px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 11px;
}
#edit-persona-imoji {
    height: 130px;
    width: 130px;
    background-color: rgba(40, 40, 40, 0.2);
    border-radius: 100%;
}
#edit-persona-name {
    height:72px;
    width: 436px;
    margin-bottom: 16px;
}

#edit-persona-delete {
    height: 61px;
    width: 436px;
    margin-bottom: 48px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
#persona-delete-button {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    background: #F5F5F5;
    border-radius: 16px;
    cursor: pointer;
}
#persona-delete-button span{
    width: 112px;
    height: 29px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #626262;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.226875px;
    white-space: nowrap;
}

#add-category-modal {
    z-index: 4;
}

#inner-add-category-modal {
    height: 360px;
    width: 500px;
    background-color: #FFFFFF;
    border-radius: 28px 28px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#new-category-name {
    height: 106px;
    width: 436px;
    margin-top: 24px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#new-category-name span {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.165px;
    color: #919191;
}

#new-category-color {
    height: 76px;
    width: 432px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#new-category-color span {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.165px;
    color: #919191;
}
#category-color-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.color-item {
    height: 40px;
    width: 40px;
    border-radius: 100%;
}
.color-item.gray {
    background-color: #F5F5F5;
}
.color-item.pink {
    background-color: #E2C2C2;
}

.background-space {
    flex: 1;
}

.modal-top {
    height: 39px;
    width: 436px;
    margin-inline: 32px;
    margin-top: 38px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.modal-top span {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #282828;
}

.modal-complete {
    height: 24px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    cursor: pointer;
}
.check-svg-checked {
    fill: rgba(247, 167, 187, 1);
}
.modal-complete span {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: rgba(247, 167, 187, 0.4);
}