@font-face {
    font-family: "EarlyFontDiary";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2")
        format("woff2");
    font-weight: 400;
    font-style: normal;
}

/* .body-container {
    height: 840px;
    width: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
} */

/* .inner-body-container {
    height: 50%;
    width: 100%;
    margin-top: 230px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;
} */

h2 {
    margin-bottom: 30px;
}

p {
    font-size: 15px;
    color: #AEAEB4;
    margin-block: 10px;
}

span {
    color: #626262;
    font-size: 20px;
}

.signin-inner {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    margin-left: 10%;
    margin-top: 10%;
}

.input-box {
    border: transparent;
    height: 30px;
    font-size: 20px;
    color: #626262;
    margin-bottom: 20px;
}

.input-box::placeholder {
    color: #D9D9D9;
}

.hidden {
    display: none;
}

#select-emoji {
    border-radius: 50%;
}

#select-emoji-img {
    border-radius: 50%;
}