{% extends 'todotodo/base.html' %}

<!DOCTYPE html>
{% load static %}
<html>
    {% block content %}

    <head>
        <meta charset='utf-8'>
        <title>snulion</title>
        {% load static %} {% load sass_tags %} {% load socialaccount %}
        {% providers_media_js %}
        <link
            rel="stylesheet"
            type="text/css"
            href="{% sass_src 'accounts/scss/onboarding.css' %}"
        />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>
    <body>
        <div class="body-container">
            <div class="signin-inner">
                <header>
                    <span onclick='goBack()' style='cursor: pointer' class="material-symbols-outlined" height="15px" width="15px">close</span>
                    <h2>환영해요!</h2>
                </header>
                <main>
                    <div class="user-photo">
                        <img id="profile-img" src={{user.thumbnail_img}}>
                    </div>
                    <div class="div-name">
                        <p>뭐라고 불러 드릴까요?</p>
                        <input class="input-box" id="input-name" onchange="moveOnToAddPersona()" placeholder="{{user.username}}"/>
                    </div>
                    <div class="div-persona hidden" id="div-persona">
                        <p id="input-username" data-text="님, 멋진 페르소나를 만들어 보세요!"></p>
                        <div class="first-persona-container">
                            <input class="input-box" id="input-persona-name" placeholder="ex. 여행하는" onchange="moveOnToAddEmoji()"></input>
                            <span id="span-username" data-text="님"></span>
                        </div>
                    </div>
                    <div class="div-emoji hidden" id="div-emoji">
                        <p id="pick-emoji-name">이제 페르소나에게 어울리는 모습을 골라 주세요!</p>
                        <div id="div-selected-emoji">
                            <img id="select-emoji-img" src="https://i.ibb.co/pQDTGr7/7294743.png"/>
                        </div>
                        <div id="emoji-list">
                            <img class="emoji-img clicked" src="https://i.ibb.co/9ZPvSgb/Mask-group-5.png" border="0"></a>
                            <img class="emoji-img" src="https://i.ibb.co/b2w6K6c/Mask-group-6.png" border="0"></a>
                            <img class="emoji-img" src="https://i.ibb.co/z7cV8hG/Mask-group.png" border="0"></a>
                            <img class="emoji-img" src="https://i.ibb.co/rx3vs3y/Mask-group-4.png" border="0"></a>
                            <img class="emoji-img" src="https://i.ibb.co/pw7CJxT/Mask-group-3.png" border="0"></a>
                            <img class="emoji-img" src="https://i.ibb.co/DpvkkxT/Mask-group-2.png" border="0"></a>
                            <img class="emoji-img" src="https://i.ibb.co/8jXG3W1/Mask-group-1.png" border="0"></a>
                        </div>
                    </div>
                    <div id="div-complete">
                        <button id="complete" class="hidden" onclick="goCongratsPage()">🤪 완료!</button>
                    </div>
                </main>
                <script>
                    function goBack() {
                        window.history.go(-1);
                    }
                    document.cookie = "jwt_token={{jwt_token}}"
                </script>
            </div>
        </div>
    </body>
    <script src="{% static 'accounts/js/onboarding.js' %}"></script>
    {% endblock content%}
</html>