{% extends 'todotodo/base.html' %}

<!DOCTYPE html>
<html>
    {% block content %}

    <head>
        <meta charset='utf-8'>
        <title>snulion</title>
        {% load static %} {% load sass_tags %} {% load socialaccount %}
        {% providers_media_js %}
        <link
            rel="stylesheet"
            type="text/css"
            href="{% sass_src 'accounts/scss/signin.css' %}"
        />
    </head>
    <body>
        <div class="body-container">
            <div class="inner-body-container">
                <div id="div-name">
                    <p>투두투두에서 사용하실 닉네임을 정해주세요</p>
                    <input id="input-name"></input>
                    <button id="next-to-persona">다음</button>
                </div>
                <div id="div-persona">
                    <p>~님의 첫 페르소나를 만들어주세요</p>
                    <input id="input-persona-name" placeholder="여행하는 ~님"></input>
                    <button id="next-to-emoji">다음</button>
                </div>
                <div id="div-imozi">
                    <p>이모지로 ~하는 ~를 표현해보세요</p>
                    <input id="input-emoji"></input>
                    <button id="next-to-home">다음</button>
                </div>
            </div>
        </div>
    </body>

    {% endblock content%}
</html>