<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>friend list</title>
    </head>
    <body>
        <header>
            <button onclick="goBack()"> X </button>
        </header>
        <main>
            <h2>투두 친구들</h2>
            <div class="friend-container">
                <img src=""/>
                <div class="friend-profile">
                    <span>{{ friend.name }}</span>
                    <p>{{ friend.status }}</p>
                </div>
            </div>
        </main>
        <script>
            function goBack() {
                window.history.go(-1);
            }
        </script>

    </body>
</html>

