{% extends 'todotodo/base.html' %}

<!DOCTYPE html>

{% load static %}

<html lang="ko">
    {% block content %}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Page</title>
        {% load static %} {% load sass_tags %} {% load socialaccount %}
        {% providers_media_js %}
        <link
            rel="stylesheet"
            type="text/css"
            href="{% sass_src 'mypage/scss/index.css' %}"
        />
    </head>
    <body>
        <div class="body-container" id="main-container">
            <h1>
                {{ user.get_username }}님,<br> 안녕하세요 
            </h1>
            
            <div id="friends-container">
                <div id="friends-container-title">
                    <span class="container-title">친구 {{ friend.set.count }}00명</span>
                    <a href="/todo/mypage/friends_list">
                        <img src="{% static 'mypage/img/arrow_back_friends_details.svg'%}"/>
                    </a>
                </div>
                <div id="friend-list">
                    {% for friend in friends %}
                        <div id="each-friend">
                            <a href="/todo/home/">
                                <img src="https://cdn1.vectorstock.com/i/1000x1000/88/85/right-arrow-icon-vector-21638885.jpg" id="{{ friend.id }}-photo" height="20px" width="20px"/>
                            </a>
                            <br> {{ friend.name }}
                        </div>
                    {% endfor %}
                    <div id="each-friend-example">
                        <div id="friend-img-example"></div>
                        <span id="friend-name">어쩌구</span>
                    </div>
                </div>
            </div>
            <div id="my-info-container">
                <span class="container-title">나의 투두투두</span>
                <div id="my-info">
                    <div id="new-info" onclick="showAddPersonaModal()">
                        <div id="new-info-inner">
                            <img id="new-persona-img" src="{% static 'mypage/img/create_new_persona.svg' %}" />
                            <span>새 페르소나</span>
                        </div>
                    </div>
                    <div id="persona-list">
                        <div class="each-persona-container" id="each-persona-example">
                            <div class="each-persona" onclick="showEditPersonaModal(1)">
                                <div id="persona-img-example"></div>
                                <span id="persona-name">어쩌구</span>
                                <img src="{% static 'mypage/img/arrow_back_persona_details.svg' %}" />
                            </div>
                            <div id="0-category-list" class="category-list">
                                <div class="each-category">
                                    <span class="category-name">Routine</span>
                                </div>
                                <div class="each-category" id="add-category-button" onclick="showAddCategoryModal()"> + </div>
                            </div>
                        </div>
                        {% for persona in personas %}
                        <div class="each-persona-container" id="each-persona-{{ persona.id }}">
                            <div class="each-persona" onclick="showEditPersonaModal({{ persona.id }})">
                                <img src="" id="{{ persona.id }}-photo"/>
                                <span id="persona-name-{{ persona.id }}">{{ persona.name }}</span>
                                <img src="{% static 'mypage/img/arrow_back_persona_details.svg'%}" />
                            </div>
                            <div id="{{ persona.id }}-category-list" class="category-list">
                                {% for category in categories %}
                                <div class="each-category">
                                    <span class="category-name">{{ category.name }}</span>
                                </div>
                                {% endfor %}
                                <div class="each-category">
                                    <span class="category-name">Routine</span>
                                </div>
                                <div class="each-category" id="add-category-button-{{ persona.id }}" onclick="showAddCategoryModal({{ persona.id }})"> + </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="mypage-modal hide" id="add-persona-modal">
                <div class="background-space" onclick="hideAddPersonaModal()"></div>
                <div id="inner-add-persona-modal">
                    <div class="modal-top">
                        <span>새 페르소나</span>
                        <div class="modal-complete" onclick="completeAddPersonaModal()">
                            <object type="image/svg+xml" data="{% static 'mypage/img/complete_check.svg'%}"></object>
                            <span>완료</span>
                        </div>
                    </div>
                    <div id="new-persona-imoji-div">
                        <img id="new-persona-imoji"/>
                    </div>
                    <div id="new-persona-name">
                        <span>새로운 페르소나에 이름을 붙여주세요.</span>
                        <div class="name-input-field">
                            <input id="new-persona-name-input" class="name-input" type="text" placeholder="ex. 열심히 일하는" oninput="handleResetAndCompleteButton(this)" />
                            <img class="name-input-reset-button hide" src="{% static 'mypage/img/reset_input_x.svg' %}" onclick="resetInput(this)" />
                            <span>{{user.get_username}}님</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mypage-modal hide" id="edit-persona-modal">
                <div class="background-space" onclick="hideEditPersonaModal()"></div>
                <div id="inner-edit-persona-modal">
                    <div class="modal-top">
                        <span>내 페르소나</span>
                        <div class="modal-complete" onclick="completeEditPersonaModal()">
                            <object type="image/svg+xml" data="{% static 'mypage/img/complete_check.svg'%}"></object>
                            <span>완료</span>
                        </div>
                    </div>
                    <div id="edit-persona-imoji-div">
                        <img id="edit-persona-imoji"/>
                    </div>
                    <div id="edit-persona-name">
                        <div class="name-input-field">
                            <input class="name-input" type="text" oninput="handleResetAndCompleteButton(this)" />
                            <img class="name-input-reset-button hide" src="{% static 'mypage/img/reset_input_x.svg' %}" onclick="resetInput(this)" />
                            <span>{{user.get_username}}님</span>
                        </div>
                    </div>
                    <div id="edit-persona-delete">
                        <div id="persona-delete-button" onclick="deletePersona()">
                            <span>❌ 삭제하기</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mypage-modal hide" id="add-category-modal">
                <div class="background-space" onclick="hideCategoryModal()"></div>
                <div id="inner-add-category-modal">
                    <div class="modal-top">
                        <span>새 카테고리</span>
                        <div class="modal-complete" onclick="completeAddCategoryModal()">
                            <object type="image/svg+xml" data="{% static 'mypage/img/complete_check.svg'%}"></object>
                            <span>완료</span>
                        </div>
                    </div>
                    <div id="new-category-name">
                        <span>새로운 투두 카테고리를 만들어 보세요.</span>
                        <div class="name-input-field">
                            <input id="new-category-name-input" class="name-input" type="text" placeholder="ex. Daily" oninput="handleResetAndCompleteButton(this)" />
                            <img class="name-input-reset-button hide" src="{% static 'mypage/img/reset_input_x.svg' %}" onclick="resetInput(this)" />
                        </div>
                    </div>
                    <div id="new-category-color">
                        <span>어울리는 컬러를 골라주세요.</span>
                        <div id="category-color-list">
                            <div class="color-item gray"></div>
                            <div class="color-item pink"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'mypage/js/mypage.js' %}"></script>
    </body>
{% endblock content%}
</html> 
