{% extends 'todotodo/base.html' %}

<!DOCTYPE html>
<html lang="ko">
    {% block content %}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Page</title>
        {% load static %} {% load sass_tags %}
        <link
            rel="stylesheet"
            type="text/css"
            href="{% sass_src 'mypage/scss/index.css' %}"
        />
    </head>
    <body>
        <div class="body-container">
            <div class="inner-body-container">
                <h1>{{ user.get_username }}님,
                <br> 안녕하세요 </h1>
                <str>친구 {{ friend.set.count }}명</str>
                {% for friend in friends %}
                    <div id="friends-container">
                        <a href="/{{ friend.id }}/">
                        <img src="" id="{{ friend.id }}-photo"/>
                        </a>
                        <br> {{ friend.name }}
                    </div>
                {% endfor %}
                {% for persona in personas %}
                    <div id="personas-container">
                        <img src="" id="{{ persona.id }}-photo"/>
                        <br> {{ persona.name }}
                        </a>
                        <button> + </button>
                    </div>
                {% endfor %}
                {% for category in categories %}
                    <div id="categories-container">
                        <p>{{ category.name }}</p>
                        <button> + </button>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endblock content%}
</body>
</html> 
