<!DOCTYPE html>
<html>
    {% load static %} {% load sass_tags %}
    <link
        rel="stylesheet"
        type="text/css"
        href="{% sass_src 'todotodo/scss/base.css' %}"
    />

    {% block content %}
    <head>
        <meta charset='utf-8'>
        <title>snulion</title>
        {% load static %} {% load sass_tags %} {% load socialaccount %}
        {% providers_media_js %}
        <link
        rel="stylesheet"
        type="text/css"
        href="{% sass_src 'todotodo/scss/index.css' %}"
        />
    </head>
    {% endblock %}
</html>