{% extends 'todotodo/base.html' %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>snulion</title>
    {% load static %} {% load sass_tags %} {% load socialaccount %}
    {% providers_media_js %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% sass_src 'todotodo/scss/index.css' %}"
    />
  </head>
  {% block content %}
  <body>
    <div class="body-container">
        {% comment %} <div id="logo">logo</div>
        <p>투두투두에 오신걸 환영해요! 🤪</p>
        <p>아래 버튼을 눌러 카카오로 시작하세요</p>
        </div> {% endcomment %}
      <div id="kakao-login-button">
        <a href="{% url 'kakao-login' %}">
          <img id="kakao-button" src="{% static 'todotodo/img/kakao_login_btn.png' %}"/>
        </a>
      </div>
    </div>
  </body>
  {% endblock content %}
</html>
