@font-face {
    font-family: "EarlyFontDiary";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2")
        format("woff2");
    font-weight: 400;
    font-style: normal;
}

#logo {
    height: 156px;
    width: 156px;
    background-color: #D9D9D9;
    border-radius: 100%;
    margin-bottom: 24px;
    justify-content: center;
}

#kakao-button {
    height: 69px;
    width: 460px;
    margin-bottom: 24px;
    display: flex;
    align-content: flex-end;
}

.body-container {
    height: 840px;
    width: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.inner-body-container {
    height: 50%;
    width: 100%;
    margin-top: 230px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}